@import "vars";
@import "mixins";

#main-visual {
  // height: 100vh;
  overflow: hidden;
  .mask {
    overflow: hidden;
  }
  li {
    position: relative;
    &.visual01 .img {
      background-image: url("../imges/main/main01.jpg");
    }
    &.visual02 .img {
      background-image: url("../imges/main/main02.jpg");
    }
    &.swiper-slide-active {
      img {
        transform: scale(1);
      }
    }

    .img {
      height: 100vh;
      background-size: cover;
      background-position: 50%;
      background-repeat: no-repeat;
      transform: scale(1.2);
      transition: all 5s ease;
      transition-delay: 0.5s;
    }
    .text {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: $h3;
      color: #fff;
      z-index: 2;
      transform: translate(-50%, -50%);
      text-align: center;
      strong {
        font-weight: 700;
        font-size: $h1 * 1.25;
        display: block;
        margin-top: 30px;
      }
    }
  }
}
.section {
  // height: 100vh;
  // display: flex;
  // align-items: center;
  .title-box {
    margin-bottom: 50px;
    h2 {
      font-size: $h4;
      color: $main-color;
      font-weight: 500;
    }
    p {
      font-size: $h3;
      font-weight: 500;
      margin-top: 30px;
      line-height: 1.25;
    }
  }
  .circle-txt {
    font-size: $h2;
    z-index: 2;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.5em;
    position: absolute;
    right: 80px;
    top: 0;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    animation: circle-ani 20s linear infinite;
  }
}

#business {
  overflow: hidden;
  .container {
    position: relative;
  }
  ul {
    display: flex;
    justify-content: space-between;
    li {
      &:nth-last-child(1) {
        margin-top: -50px;
      }
      img {
        border-radius: 20px;
      }
      .txt {
        margin-top: 40px;
        h3 {
          font-size: $h3;
          font-weight: 500;
        }
        p {
          font-size: 18px;
          margin-top: 20px;
        }
      }
    }
  }
}
#product {
  .title-box {
    p {
      font-size: $h4;
    }
    strong {
      font-size: $h2;
      font-weight: 700;
      display: block;
      margin-top: 50px;
    }
    a {
      text-transform: uppercase;
      display: block;
      font-size: $h4;
      font-weight: 500;
      margin-top: 50px;
      &:after {
        content: "\f061";
        font-family: "FontAwesome";
        margin-left: 30px;
      }
    }
  }
  li {
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
  }
  @for $i from 1 through 7 {
    .product0#{$i} {
      background-image: url("../imges/main/ms3_0#{$i}.jpg");
    }
  }
  .circle-txt {
    right: 400px;
    top: 200px;
  }
  .control-box {
    position: absolute;
    bottom: 100px;
    z-index: 3;
    width: 100%;
    .container {
      display: flex;
      align-items: center;
    }
    .btns {
      margin-left: 30px;
      button {
        font-size: 22px;
      }
      .btn-play {
        display: none;
      }
    }
    .pagination-box {
      position: relative;
    }
    .pagination {
      .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        // opacity가 0.2로 기본값이 돼있음
        opacity: 1;
        background-color: #fff;
        border: 3px solid #111;
        margin: 0;
        margin-right: 50px;
        transition: background-color 5s linear;
        &-active {
          background-color: #111;
        }
        &:nth-last-child(1) {
          margin-right: 0;
        }
      }
    }
    .line {
      position: absolute;
      // z-index는 position이 있어얃 됨
      z-index: -1;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #111;
      top: 50%;
      margin-top: -1px;
      transform-origin: 0 50%;
      transition: all 5s linear;
    }
  }
}
#news {
  .container {
    display: flex;
    justify-content: space-between;
    .title-box {
      p {
        font-size: $h4;
      }
      strong {
        font-size: $h2;
        font-weight: 700;
        display: block;
        margin-top: 50px;
      }
      a {
        text-transform: uppercase;
        display: block;
        font-size: $h4;
        font-weight: 500;
        margin-top: 50px;
        &:after {
          content: "\f061";
          font-family: "FontAwesome";
          margin-left: 30px;
        }
      }
    }
    .contents-box {
      width: 1000px;
      .notice {
        display: flex;
        padding: 30px 20px;
        font-size: $h4;
        border-top: 3px solid #111;
        border-bottom: 1px solid #111;
        .date {
          margin-left: auto;
        }
        p {
          font-weight: 500;
          margin-left: 30px;
        }
      }
      .notice-list-box {
        padding: 30px 0;
        border-bottom: 1px solid #111;
        li {
          background: url("../imges/main/news01.jpg");
          background-size: cover;
          border-radius: 20px;
          overflow: hidden;
          a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 30px;
            font-size: $h4;
            background-color: rgba(0, 0, 0, 0.2);
            opacity: 0;
            transition: all 0.25s ease;
            &:hover {
              opacity: 1;
            }

            .sticker {
              font-weight: 500;
            }
            p {
              @include multiElilipsis;
              margin-top: 20px;
            }
            .more {
              @include icon("\f061") {
                display: block;
                margin-top: 20px;
              }
            }
          }
        }
      }
    }
  }
}
#footer {
  background: #333;
  color: #fff;
  .util-box {
    padding: 30px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    .container {
      display: flex;
      justify-content: space-between;
      ul {
        display: flex;
        li {
          margin-right: 30px;
          font-weight: 500;
          &:nth-last-child(1) {
            margin-right: 0;
          }
        }
      }
    }
  }
  .addr-box {
    padding: 30px 0;
    address {
      margin-bottom: 30px;
    }
  }
}
#fp-nav {
  transition: all 0.25s ease-in-out 0.5s;
  &.color {
    ul {
      li {
        a {
          span {
            background-color: #111 !important;
            &::before {
              border-color: #111;
            }
          }
        }
        .fp-tooltip {
          color: #111;
        }
      }
    }
  }
  &.fp-right {
    right: 50px;
  }
  &.last {
    right: -200px;
  }
  ul {
    li {
      width: 30px;
      height: 30px;
      margin: 30px 0;
      $bg-color: #fff;
      &:nth-last-child(1) {
        display: none;
      }
      &:hover {
        a,
        a.active {
          span {
            width: 5px;
            height: 5px;
            background-color: $bg-color;
            margin: 0;
          }
        }
      }
      a {
        &.active {
          span {
            width: 5px;
            height: 5px;
            background-color: $bg-color;
            margin: 0;
            &::before {
              transform: translate(-50%, -50%) scale(1);
            }
          }
        }
        span {
          width: 5px;
          height: 5px;
          background-color: $bg-color;
          margin: 0;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          box-sizing: border-box;

          &::before {
            transition: all 0.5s ease;
            content: "";
            display: block;
            width: 30px;
            height: 30px;
            position: absolute;
            border: 3px solid #fff;
            left: 50%;
            top: 50%;
            border-radius: 100px;
            // 축 똑바로 하게 하려고
            transform: translate(-50%, -50%) scale(0);
          }
        }
      }

      .fp-tooltip {
        text-transform: uppercase;
        top: 50%;
        transform: translateY(-50%);
        font-size: 16px;
        font-weight: 700;
        font-family: "Roboto";
        opacity: 0.5;
        width: auto;
        &.fp-right {
          right: 60px;
        }
      }
      a.active + .fp-tooltip {
        opacity: 1;
      }
    }
  }
}

@keyframes circle-ani {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(359deg);
  }
}
